<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
<gazebo reference="ultrasonic2">
      <sensor name="ultrasonic2" type="ray">
         <always_on>true</always_on>
         <visualize>false</visualize>
         <pose>0.0 0 0.0 0 0 0</pose>
         <update_rate>50</update_rate>
         <ray>
            <scan>
               <horizontal>
                  <samples>5</samples>
                  <resolution>1.0</resolution>
                  <min_angle>-0.18</min_angle>
                  <max_angle>0.18</max_angle>
               </horizontal>
               <vertical>
                  <samples>5</samples>
                  <resolution>1.0</resolution>
                  <min_angle>-0.01</min_angle>
                  <max_angle>0.01</max_angle>
               </vertical>
            </scan>
            <range>
               <min>0.02</min>
               <max>50</max>
               <resolution>0.01</resolution>
            </range>
            <noise>
               <type>gaussian</type>
               <mean>0.0</mean>
               <stddev>0.01</stddev>
            </noise>
         </ray>
         <plugin name="bytes_ultrasound2" filename="libgazebo_ros_ray_sensor.so">
            <ros>
               <namespace>distance</namespace>
               <remapping>~/out:=pr2</remapping>
            </ros>
            <output_type>sensor_msgs/Range</output_type>
            <radiation_type>ultrasound</radiation_type>
            <frame_name>ultrasonic2</frame_name>
         </plugin>
      </sensor>
      <material>Gazebo/Blue</material>
   </gazebo>



</robot>
